* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.formulario {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.userpass {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pass {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.botaoli {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
    gap: 30px;
    
}
