.sans-serif {
    font-family: sans-serif;
}

.ingredientes{
    font-family: sans-serif;
    font-size: 24px;
    background-color: rgba(0, 255, 0, 0.322);
}

#modo-de-preparo {

    background-color: rgba(0, 76, 255, 0.469);

    h2{
        font-size: 48px;
        color: red;
        font-family: 'Times New Roman';
    }
    font-family: sans-serif;

}