* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: beige;
    height: 40px;
    position: sticky;
    top: 0;
    left: 0;
}
/* main{
    margin-top: 40px;
} */

ul {
    display: flex;
    gap: 10px;
}

li {
    list-style: none;

    a {
        text-decoration: none;
        color: #202020;
    }
}
.flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
button{
    padding: 10px;
    font-size: 24px;
    border: none;
    border-radius: 8px;
    transition: all 1s ease-in;
}
button:hover{
    background-color: #202020;
    color: #fafafa;
    font-size: 36px;
    padding: 40px;
}
li:last-child{
    background-color: yellow;
}
li:first-child{
    background-color: blue;
}
a:hover{
    background-color: aqua;
    transition: all 3s ease-in-out;
}
.secao{
   min-height: calc(100vh - 40px);

}
.red{
    background-color: red;

}
.blue{
    background-color: blue;
}
.green{
    background-color: green;

}
.yellow{
    background-color: yellow;
}