* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}

body {
    /* Flex vem padrao como Row */
    /* Com isso, align-items funciona na vertical e justify na horizontal */
    /* Se inverter o flex(direction) para o column, align inverte para horizontal e justify para vertical */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;

}

#flags {
    width: 100vw;
    height: 300px;
    background-color: pink;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

/* Criou uma classe para adaptar na padronização de flag que criamos, depois é só chamar essa classe com a classe flag */
.bg-white {
    background-color: white;
}

.flag {
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;

}

#japan {
    width: 60px;
    height: 60px;
    background-color: red;
    border-radius: 50%;

}

/* Forma que o pessoal usou para a frança e o outro
#bar-red{
    width: 40px;
    height: 100%;
    background-color: red;
}
#bar-white{
    width: 40px;
    height: 100%;
    background-color: white;
}
#bar-green{
    width: 40px;
    height: 100%;
    background-color: green;
}
#bar-blue{
    width: 40px;
    height: 100%;
    background-color: blue;
} */

.bar-one {
    width: 40px;
    height: 100%;

}

.bar-two {
    width: 40px;
    height: 100%;
}

.bar-tree {
    width: 40px;
    height: 100%;
}

#bar-blue {
    width: 40px;
    height: 100%;
    background-color: blue;
}

.bg-red {
    background-color: RED;
}

.bg-blue {
    background-color: blue;
}

.bg-green {
    background-color: green;
}


#bar-red-horizontal {
    width: 120px;
    height: 40px;
    background-color: red;
}

#bar-yellow-horizontal {
    width: 120px;
    height: 40px;
    background-color: yellow;
}

#bar-black-horizontal {
    width: 120px;
    height: 40px;
    background-color: black;
}

.flag-horizontal {
    display: flex;
    flex-direction: column;
}

.bar-column {
    width: 120px;
    height: 40px;
}