* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}

body {
    /* Flex vem padrao como Row */
    /* Com isso, align-items funciona na vertical e justify na horizontal */
    /* Se inverter o flex(direction) para o column, align inverte para horizontal e justify para vertical */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;

}

#flags {
    width: 100vw;
    height: 300px;
    background-color: rgb(119, 118, 118);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

/* Criou uma classe para adaptar na padronização de flag que criamos, depois é só chamar essa classe com a classe flag */

.flag {
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;


}

.circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;

}
.bar-vertical{
     width: 40px;
    height: 100%;
}
.bar-horizontal{
    width: 120px;
    height: 40px;
}

/* ############### BACKGROUND COLOR ############# */
.bg-color-white {
    background-color: white;
}

.bg-color-red {
    background-color: RED;
}

.bg-color-blue {
    background-color: blue;
}

.bg-color-green {
    background-color: green;
}

.bg-color-yellow {
    background-color: yellow;
}

.bg-color-black {
    background-color: black;
}




.flag-horizontal {
    display: flex;
    flex-direction: column;
}

.bar-column {
    width: 120px;
    height: 40px;
}
.envolve-flag{
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}