* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;

}

h1,
h2,
h3 {
    font-size: 16px;
}

main {
    border: 10px solid red;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.card {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    max-width: 360px;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(102, 126, 234, 0.2);
    position: relative;
}

.foto {
    background-image: url(https://images.unsplash.com/photo-1523275335684-37898b6baf30?q=80&w=1000&auto=format&fit=crop);
    width: 100%;
    height: 248px;
    background-size: cover;
    border-radius: 16px 16px 0 0;

}

.icone {

    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 28px;
    border-radius: 24px;
    background-color: black;
    color: white;
    font-size: 0.7rem;
    top: 15px;
    left: 15px;
    font-weight: bolder;
}

.infos {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#title {
    padding-top: 25px;
    padding-left: 15px;
}

#title h2 {
    font-size: 1.3rem;
    font-weight: 600;
}

#desc {
    padding-left: 15px;
    opacity: 0.6;
    line-height: 1.5rem;
}

.preco {
    padding-left: 25px;
    position: relative;

}

#errado h2 {
    font-size: 0.8rem;
    opacity: 0.4;
    text-decoration: line-through;
    font-style: italic;
    font-weight: 100;
}

#adicionar {
    background-color: black;
    color: #fafafa;
    border-radius: 8px;
    height: 40px;
    width: 104px;
    font-weight: 600;
    margin-right: 25px;
}

#certo h2 {
    font-size: 1.5rem;
    font-weight: 200
}

.precobut {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}
span{
    font-weight: 500;
}
#adicionar:hover{
    background-color: #f8f6f6;
        color: #202020;
        border: 1px solid #202020;
        transition: all 300ms ease;
}